src/defschema.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="packet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="item">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="startbyte" type="xsd:int"/>
              <xsd:element name="endbyte" type="xsd:int"/>
              <xsd:element name="byte" type="xsd:int"/>
              <xsd:element name="bit" type="xsd:int"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="type" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="length" type="xsd:int"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>